.cp-container {
  max-width: 1000px;
  width: 100%;
  /* width: fit-content; */
  height: fit-content;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 10vh;
}
.cp-container .cp-title{
font-size: 25px;
font-weight: 500;
position: relative;
}
.cp-container .cp-title::before {
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
border-radius: 5px;
background: linear-gradient(135deg, #71b7e6, #93c47d);
}
.cp-form .cp-details .input-box {
margin-bottom: 15px;
width: calc(100% / 3 - 20px);
flex-direction: column;
}
.cp-form .input-box span.details {
display: block;
font-weight: 500;
margin-bottom: 5px;
}
.cp-details .input-box input {
height: 45px;
/* width: 25vw; */
width:300px;
outline: none;
font-size: 16px;
border-radius: 5px;
padding-left: 15px;
border: 1px solid #ccc;
border-bottom-width: 2px;
transition: all 0.3s ease;
border-color: #93c47d;
}
.cp-form .profile-input-box span.details {
display: block;
font-weight: 500;
margin-bottom: 5px;
}
.cp-details .profile-input-box input {
height: 45px;
width: 100%;
outline: none;
font-size: 16px;
border-radius: 5px;
padding-left: 15px;
border: 1px solid #ccc;
border-bottom-width: 2px;
transition: all 0.3s ease;
}
.cp-details .input-box input:focus,
.cp-details .input-box input:valid {
  border-color: #93c47d;
}
.cp-form .button {
height: 45px;
margin: 35px 0
}

.cp-form .button input {
/* height: 100%;
width: 100%;
border-radius: 5px;
border: none;
color: #fff;
font-size: 18px;
font-weight: 500;
letter-spacing: 1px;
cursor: pointer;
transition: all 0.3s ease;
background: linear-gradient(135deg, #8af0e7, #93c47d); */
height: 55px;
width: 200px;
color: #fff;
font-size: 1rem;
font-weight: 400;
margin-top: 30px;
border: none;
cursor: pointer;
transition: all 0.2s ease;
background: linear-gradient(135deg, #8af0e7, #93c47d);
text-align: center;
margin: auto;
display: flex;
justify-content: center; 
align-items: center;
}

.cp-form .button input:hover {
/* transform: scale(0.99); */
background: linear-gradient(-135deg, #8af0e7, #93c47d);
}

@media(max-width: 584px) {
.cp-container {
    max-width: 100%;
}

.cp-form .cp-details .input-box {
    margin-bottom: 15px;
    width: 100%;
}

.cp-form .category {
    width: 100%;
}

.cp-content form .cp-details {
    max-height: 300px;
    overflow-y: scroll;
}

.cp-details::-webkit-scrollbar {
    width: 5px;
}
}

@media(max-width: 459px) {
.cp-container .content .category {
    flex-direction: column;
}
}
@media(max-width: 680px) {
.cp-container {
    width: max-width;
}
}