.admincurrentTrips-container{
    width:100%;
    min-height: 100vh;
   /* display: flex;
   flex-direction: column;
   justify-content: space-evenly; */

}

.Admin-tripHistory-buttons .admin-history-btn{

    background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 3px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  border-radius: 0px;
  margin-top: 3vh;
  text-transform: uppercase;
  
  }
  .Admin-tripHistory-buttons .admin-history-btn:not(:last-child) {
    border-right: none; 
  }
  
  .admin-history-btn:hover {
    background-color: #3e8e41;
  }
  .Admin-tripHistory-buttons{
    height: 20vh;
  }
  /* .table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000vh;
    overflow-x: auto;
   
  }
  .table-data{
    max-width: 1000vh;
    overflow-x: auto;
    border-radius: 4px;
  }
  table{
    user-select: none;
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;
  }
  thead{
    background: #90c1d8;
    color: azure;
  }
  thead tr th{
    padding: 19px 10px;
  }
  thead tr th:nth-child(2){
    min-width: 200px;
  }
  tr td div span{
    display: block;
  }
  tr img {
    width:50px;
    margin:0 3px ;
  }
  tr td >div{
    display:flex;
    align-items: center;
    margin: 0 3px;
  }
  table tr{
    white-space: nowrap;
    transition: .23s ease-in-out;
  }
  table tbody tr:hover{
    background: rgb(107, 228, 143);
    color: aqua;
  } */





  /* .table-container{
    overflow-x:auto;
  }

  body {
    padding: 0px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: fit-content;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header {
    background-color: #16a085;
    color: #fff;
} */


/* table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}



tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.table-container{
    overflow-x:auto;}
@media only screen and (max-width: 768px) {
  Table {
        width: 90%;
    }
} */

body {
    padding: 0px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.responsiveTable{
    width: 0%;
}

.trip-table{
    position: fixed;
    /* margin-left: auto; 
    margin-right: auto; */

    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: 70%;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.trip-tr{
    transition: all .2s ease-in;
    cursor: pointer;   
}
.trip-th{
    text-align: center;
    padding: 5px;
}
.trip-tr:nth-child(even){

    background-color: #a89a9a
}

.trip-tr:hover {
    background-color: #c5c4c4;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.trip-head{
  background-color: #16a085;
    color: #fff;
}